.text-tooltip{
    color: var(--tailwind-colors-slate-600, #475569);
    font-family: var(--font-family-base);
    font-size: 14px;
    font-style: normal;
    font-weight: var(--font-weight-normal, 400);
    line-height: 100%;
}
