.position-selector {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.375rem;
    width: 342px;
}

.selector-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.selector-dropdown {
  flex: 1;
}