.container-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.container-content {
    display: flex;
    column-gap: 10px;
    align-items: baseline
}

.container-recommendation {
    display: flex;
    row-gap: 10px;
    align-items: baseline;
    flex-direction: column;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text-title {
    overflow: hidden;
    color: var(--tailwind-colors-slate-600, #475569);
    text-overflow: ellipsis;
    font-family: var(--font-family-base);
    font-size: var(--typography-base-sizes-small-font-size, 14px);
    font-style: normal;
    font-weight: var(--font-weight-normal, 700);
    line-height: 100%;
}

.text {
    overflow: hidden;
    color: var(--tailwind-colors-slate-600, #475569);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: var(--font-family-base);
    font-size: var(--typography-base-sizes-small-font-size, 14px);
    font-style: normal;
    font-weight: var(--font-weight-normal, 400);
    line-height: 150%;
}

.content-gap{
    display: flex;
    column-gap: 10px;
    align-items: baseline;
}
