<div *ngFor="let data of details">
    <div *ngIf="data.title === title">
        <div *ngFor="let item of data.items">
            <div *ngIf="item.type === 'erosianol_velocity'">
                <div class="m-[10px]">
                    <ng-container>
                        <div class="p-[10px]">
                            <div class="container-content">
                                <span class="text-title">{{'Erosional Velocity Ratio:'}}</span>
                                <span class="text">{{ formatValue(erosionalVelocity?.result)}}</span>
                            </div>
                            <div class="container-content">
                                <span class="text-title">{{'Criteria:'}}</span>
                                <div class="flex-column">
                                    <span class="text">{{`Pass: Erosional Velocity Ratio <= 1`}}</span>
                                    <span class="text">{{`Fail: Erosional Velocity Ratio > 1`}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="container-recommendation p-[10px]">
                        <span class="text-title">{{'Recommendation:'}}</span>
                        @if(erosionalVelocity?.status === 'TRUE'){
                        <span class="text">{{'-'}}</span>
                        }@else if(erosionalVelocity.status === 'FALSE'){
                        <div class="flex-column">
                            <span class="text">{{`Reduce Flowrate`}}</span>
                        </div>
                        }@else {
                            <div></div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>