.dwp-nav__list__item__icon > img {
  min-width: 24px !important;
  width: 100%;
  height: auto;
}

.dwp-page-content {
  min-width: calc(100% - 230px) !important;
}

.page-content-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}
